/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Bebas Neue, "sans-serif";
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

/* Loader */
.loader {
  position: fixed;
  /* Damit Transparenz über die gesamte Seite geht */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  /* Damit um die Hälfte der Breite/Höhe verschoben wird um genau mittig zu sein*/
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query Large Smart-Phone or Tablets */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}
